= set_title :type => params[:category], :title => 'недавно добавленные'
.categories
  %h1.rytp= link_to 'RYTP', poops_feed_path(:RYTP), :class => ('active' if current_page?(poops_feed_path :RYTP))
  %h1.rytpmv= link_to 'RYTPMV', poops_feed_path(:RYTPMV), :class => ('active' if current_page?(poops_feed_path :RYTPMV))

.poops= render @poops
= paginate @poops
- if @poops.empty?
  = empty

= content_for :left do
  = render '/ad/left_skyscraper'

= content_for :right do
  = render '/ad/right_skyscraper'

= content_for :ad_block_1 do
  = render '/ad/before_footer'
