= form_for(@poop) do |f|
  - if @poop.errors.any?
    #error_explanation
      %h2
        = pluralize(@poop.errors.count, "error")+":"
      %ul
        - @poop.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label 'Название'
    %br/
    = f.text_field :title
  .field
    = f.label 'Автор'
    %br/
    = f.text_field :author
  .field
    = f.label 'Описание'
    %br/
    = f.text_area :description
  .field
    = f.label 'Код видео'
    %br/
    = f.text_area :code
  .field
    = f.label 'Подтверждено?'
    %br/
    = f.check_box :is_approved
  .field
    = collection_select(:poop, :category_id, Category.all, :id, :name, :prompt => true)
  .actions
    = f.submit
