= form_for(@poop) do |f|
  - if @poop.errors.any?
    #error_explanation
      %h2
        = @poop.errors.count
        = Russian.p(@poop.errors.count, "ошибка", "ошибки", "ошибок")+":"
      %ul
        - @poop.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :author
    %br/
    = f.text_field :author
  .field.new_description
    = f.label :description
    %br/
    = f.text_area :description
  .field.new_code
    = f.label :code 
    = link_to 'где его взять?', howto_path, :class => :code, :target => '_blank'
    %br/
    = f.text_area :code
  .field
    = f.label :category_id
    %br/
    = collection_select(:poop, :category_id, Category.all, :id, :name, :prompt => 'Выберите из списка')
  .field
    Нажимая "Отправить", вы соглашаетесь с
    = link_to 'правилами', rules_path, :target => '_blank'
  .actions
    = f.submit :value => 'Отправить'
