= form_for(@poop) do |f|
  - if @poop.errors.any?
    #error_explanation
      %h2
        = pluralize(@poop.errors.count, "error")
        prohibited this poop from being saved:
      %ul
        - @poop.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :description
    %br/
    = f.text_area :description
  .field
    = f.label :author
    %br/
    = f.text_field :author
  .field
    = f.label :code
    %br/
    = f.text_area :code
  .field
    = f.label :is_approved
    %br/
    = f.check_box :is_approved
  .field
    = collection_select(:poop, :category_id, Category.all, :id, :name, :prompt => true)
  .actions
    = f.submit
