= form_for(@poop) do |f|
  - if @poop.errors.any?
    #error_explanation
      %h2
        = @poop.errors.count
        = Russian.p(@poop.errors.count, "ошибка", "ошибки", "ошибок")+":"
      %ul
        - @poop.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label 'Название'
    %br/
    = f.text_field :title
  .field
    = f.label 'Автор'
    %br/
    = f.text_field :author
  .field.new_description
    = f.label 'Описание (не обязательно)'
    %br/
    = f.text_area :description
  .field.new_code
    = f.label 'Код видео (используйте iframe) '
    = link_to 'где его взять?', howto_path, :class => :code
    %br/
    = f.text_area :code
  .field
    = f.label 'Категория'
    %br/
    = collection_select(:poop, :category_id, Category.all, :id, :name, :prompt => true)
  .field
    = f.label 'Нажимая "Отправить", вы соглашаетесь с '
    = link_to 'правилами', rules_path, :target => '_blank'
  .actions
    = f.submit :value => 'Отправить'
