= form_for poop, :html => {:class => 'poop_form'} do |f|
  - if poop.errors.any?
    .error_explanation
      %h2
        = errors_count poop.errors.count
      %ul
        - poop.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.text_field :title, :placeholder => t(:'poop.title'), :title => t(:'poop.title'), :required => true, :autofocus => true
  .field.new_description
    = f.text_area :description, :placeholder => t(:'poop.description'), :title => t(:'poop.description')
  .field.new_code
    = link_to 'Как получить код видео?', howto_path, :target => '_blank'
    %br/
    = f.text_area :code, :placeholder => t(:'poop.code'), :title => t(:'poop.code'), :required => true
  .field
    = f.label :category_id
  .field
    = f.collection_select :category_id, all_categories, :id, :name, :prompt => 'Выберите из списка'
  .field
    = f.label :contest_id
  .field
    = f.collection_select :contest_id, active_contests, :id, :name, {:include_blank => 'Выберите из списка'}
  - if can?(:approve, poop)
    .field
      = f.label :approved
      = f.check_box :approved
  .field
    Нажимая "Отправить", вы соглашаетесь с
    = link_to 'правилами', rules_path, :target => '_blank'
  .actions
    = f.submit 'Отправить', :class => :button
