.poop{ :id => ["poop", poop.id] }
  %h1.title{ :title => "#{poop.title} | #{poop.category_name}" }
    = poop.title.truncate 30
  .video
    = video poop.code
  .info
    = render 'poops/poop_info', :poop => poop
  .wrapper
    .author{ :rel => :author }
      = t(:by) + ': '
      = poop.user ? link_to(poop.user, profile_path(poop.user)) : 'noname'
    .description_link
      - if poop.description.present?
        = link_to '#', :class => :button do
          %span.book.icon
          описание
      - else
        &nbsp;
    .description.hide
      = with_brs poop.description
    = render 'like_buttons/all' if current_page?(watch_path poop)
