= set_title :title => t(:new)
%h1 Добавить Poop
- if flash[:notice]
  #notice #{flash[:notice]}
= render 'form'
= link_to t(:back), :back

= content_for :ad_block_1 do
  = render :partial => '/ad/before_footer'
