= set_title :title => 'поиск'
.poops= render poops
= paginate poops
= empty if poops.empty?

= content_for :left do
  = render '/ad/left_skyscraper'

= content_for :right do
  = render '/ad/right_skyscraper'

= content_for :ad_block_1 do
  = render '/ad/before_footer'
