= set_title @poop.title
= content_for(:vk_like) do
  #vk_like
    %script(type="text/javascript")
      VK.Widgets.Like("vk_like", {type: "vertical"});
= render :partial => 'poops/poop', :object => @poop

=# link_to 'Edit', edit_poop_path(@poop)
=# "|"

= link_to 'назад', :back
= content_for(:comments) do
  #vk_comments
    %script(type="text/javascript")
      VK.Widgets.Comments("vk_comments", {limit: 10, width: "496"});

