%script
  = "$('menu_#{@poop.category.name.downcase}').addClassName('active');" if controller.action_name='show'
= set_title :type => @poop.category.name, :title => @poop.title
= render :partial => 'poops/poop', :object => @poop
= content_for(:comments) do
  #vk_comments
    %a(name="comments")
    %script(type="text/javascript")
      VK.Widgets.Comments("vk_comments", {limit: 10, width: "496"});

