%script
  = "$('menu_#{@poop.category.name.downcase}').addClassName('active');"
= set_title :type => @poop.category.name, :title => @poop.title
= render :partial => 'poops/poop', :object => @poop

= content_for :comments do
  #vk_comments
    %script(type="text/javascript")
      VK.Widgets.Comments("vk_comments", {limit: 10, width: "496"});

= content_for :left do
  #nav_left
    = link_to image_tag('/images/previous.png'), previous_poop(@poop), :title => 'Ctrl + стрелка влево', :class => :prev_page, :id => 'previous'

= content_for :right do
  #nav_right
    = link_to image_tag('/images/next.png'), next_poop(@poop), :title => 'Ctrl + стрелка вправо', :class => :next_page, :id => 'next'
    = link_to image_tag('/images/random.png'), random_poop(@poop), :title => 'Ctrl + стрелка вниз', :id => 'random'
