= set_title :type => params[:category], :title => 'топ'

.categories
  %h1.rytp= link_to_active 'RYTP', top_path(:RYTP, params[:period])
  %h1.rytpmv= link_to_active 'RYTPMV', top_path(:RYTPMV, params[:period])
.periods
  = link_to_active 'за неделю', top_path(params[:category], nil), :class => 'by_week'
  = link_to_active 'за месяц', top_path(params[:category], 'by_month'), :class => 'by_month'
  = link_to_active 'за все время', top_path(params[:category], 'all_time'), :class => 'all_time'

.poops= render poops
= paginate poops
- if poops.empty?
  = empty

= content_for :left do
  = render '/ad/left_skyscraper'

= content_for :right do
  = render '/ad/right_skyscraper'

= content_for :ad_block_1 do
  = render '/ad/before_footer'
