= set_title :type => params[:category], :title => 'топ'
%h1.rytp #{link_to 'RYTP', top_path('RYTP'), :class => (params[:category]=='RYTP' ? 'active' : nil)}
%h1.rytp #{link_to 'RYTPMV', top_path('RYTPMV'), :class => (params[:category]=='RYTPMV' ? 'active' : nil)}
= render :partial => 'poops/poop', :collection => @poops
= will_paginate @poops
