= set_title :title => 'панель администратора'
%script $('menu_admins').addClassName('active');
%h1 Listing admins
%table.admins
  %tr
    %th Login
    %th Password
    %th Name
    %th Policeman?
    %th
    %th
    %th
  - for an_admin in admins
    %tr
      %td= an_admin.login
      %td= an_admin.password
      %td= an_admin.name
      %td= an_admin.policeman ? 'yes' : 'no'
      %td= link_to 'Show', an_admin
      %td= link_to 'Edit', [ :edit, an_admin ]
      %td= link_to 'Destroy', an_admin, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Admin', new_admin_path
