= set_title :title => 'панель администратора'
%script $('menu_admins').addClassName('active');
%h1 Listing admins
%table.admins
  %tr
    %th Login
    %th Password
    %th Name
    %th Policeman?
    %th
    %th
    %th
  - @admins.each do |admin|
    %tr
      %td= admin.login
      %td= admin.password
      %td= admin.name
      %td= admin.policeman ? 'yes' : 'no'
      %td= link_to 'Show', admin
      %td= link_to 'Edit', edit_admin_path(admin)
      %td= link_to 'Destroy', admin, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Admin', new_admin_path
