.contest.one
  %h2.title= contest.name
  %div{ :class => ['dates', (contest.active? ? 'active' : nil)] * ' ' }
    %time.start_at= russian_date(contest.start_at)
    %label &mdash;
    %time.end_at= russian_date(contest.end_at)
  .clear
  .description= sanitize(contest.description, :tags=>[]).truncate(300)
  .actions
    - if can?(:manage, contest)
      = link_to 'изменить', [:edit, contest]
      = link_to 'удалить', contest, :confirm => 'Вы уверены?', :method => :delete
  = link_to 'перейти к просмотру', contest, :class => 'cut'
  .clear
