= form_for contest do |f|
  -if contest.errors.any?
    .error_explanation
      %h2
        = errors_count contest.errors.count
      %ul
        - contest.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :name, :placeholder => t(:'contest.name'), :class => :title, :required => true
  .field
    - redactor("#contest_body")
    - redactor_css
    = f.text_area :description, :id => :contest_body
  .field
    = f.label :start_at
  .field
    = f.date_select :start_at
  .field
    = f.label :end_at
  .field
    = f.date_select :end_at
  - if contest.has_poops? and contest.completed?
    .field
      = f.label :first_place
    .field
      = f.collection_select :first_place, contest.poops, :id, :name, {:include_blank => 'Выберите из списка'}
    .field
      = f.label :second_place
    .field
      = f.collection_select :second_place, contest.poops, :id, :name, {:include_blank => 'Выберите из списка'}
    .field
      = f.label :third_place
    .field
      = f.collection_select :third_place, contest.poops, :id, :name, {:include_blank => 'Выберите из списка'}
  .actions
    = f.submit 'сохранить'
