= set_title :title => 'конкурсы'

.all_contests
  .contests_list
    - if contests.any?
      = render contests
    - else
      Пока нет ни одного конкурса
  = paginate contests

= content_for :ad_block_1 do
  = render '/ad/before_footer'
