- if current_user
  %ul.auth-links
    %li
      %label.welcome= t(:'welcome')
    %li
      = link_to current_user, profile_path(current_user)
    %li
      = link_to t(:'sessions.destroy'), logout_path

-else
  %label= t(:'sessions.new') + ':'
  %ul.auth-links.sign_in
    %li
      = link_to "Вконтакте", "/auth/vkontakte", :class => :vkontakte, :title => 'Войти через ВКонтакте'
    %li
      = link_to "Twitter", "/auth/twitter", :class => :twitter, :title => 'Войти через Twitter'
    %li
      = link_to "Facebook", "/auth/facebook", :class => :facebook, :title => 'Войти через Facebook'
    %li
      = link_to "Google", "/auth/google", :class => :google, :title => 'Войти через Google'
