= form_for @news do |f|
  - if @news.errors.any?
    .error_explanation
      %h2
        = errors_count @news.errors.count
      %ul
        - @news.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.text_field :title, :class => :title, :placeholder => t(:'news.title')
  .field
    - redactor("#news_body")
    - redactor_css
    = f.text_area :content, :id => :news_body
  .actions
    = f.submit 'сохранить'
