= set_title :title => 'файлы'
.titor
.files
  .file_info
    Раздел пополнится в ближайшее время. Если вы можете оказать помощь по разделу файлы сообщите нам на почту #{mail_to 'webmaster@rytp.ru'}
  %hr
  .file_list
    .file.file_1
      .icon
      mp3 pack
      = link_to 'скачать', 'http://dl.dropbox.com/u/4558589/rytp/rytp_pack_1_0.zip'

    .file.file_2
      .icon
      игра TrapPoc
      = link_to 'скачать', 'http://dl.dropbox.com/u/4558589/rytp/TrapPoc.rar'

= content_for :ad_block_1 do
  = render '/ad/before_footer'
