= set_title :title => 'код видео'
.embedd_code
  .vkontakte
    %h2 vkontakte.ru
    = image_tag 'vk.jpg', :width => 517, :height => 367
  .youtube
    %h2 youtube.com
    = image_tag 'youtube.jpg', :width => 506, :height => 294

= content_for :ad_block_1 do
  = render '/ad/before_footer'
