= set_title :title => 'википупедия'

.wikipoop
  %h1.ir Википупедия
  #general
    = link_to 'Общие положения', '#general', :class => 'wikipoop_link active'
    .text
      %p.rytp
        %abbr{:title => 'Russian YouTube Poop'} RYTP
        \ &mdash; частный случай YouTube Poop (наравне с немецким YouTube Kacke, испанским YouTube Poop Hispano и прочими региональными вариациями), для создания которого используются в большинстве русские видео.
      %p.ytp
        %abbr{:title => 'YouTube Poop'} YTP
        \ &mdash; это то, что можно со всей силой ненавидеть, и то, чем можно бесконечно восхищаться. То, что находится за гранью человеческого разума. А с точки зрения нормальных людей - это просто полоумные ремиксы из мультиков и рандомного дерьма. Цель YTP - сделать из оригинальных видео нечто совершенно иное, самым смешным и бредовым образом.

  #heroes
    = link_to 'Герои', '#heroes', :class => :wikipoop_link
    .text.hidden_by_default
      %p
        #{link_to_video 'Буйный', 'http://vkontakte.ru/video_ext.php?oid=143610757&id=160973808&hash=54f3d7bb88a7425b&sd'} — Наркоман упорно требующий у господина милиционера "запилить" ему дверь. Выглядит это настолько эпично что даже сами милиционеры не упускают возможности поржать.

      %p
        #{link_to_video 'Влад Борщ', 'http://vkontakte.ru/video_ext.php?oid=143610757&id=160973815&hash=02cca383415157a0&sd'} — Школьник косящий под репера-гангстера. Прославился благодаря своему видеообращению к "унылым патлатым говнярям" в котором обильно матерится и грозит порешать всех со своими корешами.

      %p
        #{link_to_video 'Вот это прикол!', 'http://vkontakte.ru/video_ext.php?oid=143610757&id=160973818&hash=82c13e24aa0ff013&sd'} — "Я снимаю нахуй!.....Вот это прикол!" популярная Фраза сказаная из-за кадра неизвестной личностью.

      %p
        #{link_to_video 'Всезнамус', 'http://vkontakte.ru/video_ext.php?oid=143610757&id=160973824&hash=5a6c6d91a74c81d3&hd=1'} — (Виктор Бунаков) Персонаж из детской передачи "Спроси у всезнамуса" с канала "ТелеНяня"

      %p
        #{link_to_video 'Глум', 'http://vkontakte.ru/video_ext.php?oid=143610757&id=160973826&hash=a89463509dea8f15&sd'} — Бугор с братвой кидающий угрозы в сторону камеры. Видео срежисировано by "Дядя за камерой" ® и снято с 35-ти дублей.

      %p
        #{link_to_video 'Гомогей', 'http://vkontakte.ru/video_ext.php?oid=143610757&id=160973841&hash=050687694e2fc779&sd'} — (Влад Гайдай) "Я - пидарас, я - гомогей!". По пояс голый пацан в ванной кривляющийся и обсирающий себя. +Бонус: катание на американских горках не отрывая жопы от стула!

      %p
        #{link_to_video 'Даша-Следопыт', 'http://vkontakte.ru/video_ext.php?oid=143610757&id=160973849&hash=3ab3e88e270692ff&sd'} — Интерактивный мультсериал созданный для самых маленьких и тупых. В Америке используется для обучения американских детей испанскому языку (в русской версии английскому).
        В мультфильме присутствуют весьма странные создания постоянно сопровождающие Дашу в ихнем безумном мире приключений.
        Это всеядный рюкзак, поющая карта и говорящая обезьянка по имени Башмачок.

      %p
        #{link_to_video 'Доктор Попов', 'http://vkontakte.ru/video_ext.php?oid=143610757&id=160973853&hash=5408fa5ea7c70534&hd=1'} — (Попов Петр Александрович) Маразматик пытающийся впарить свои весьма странные методы лечения геморроя, а именно — живым (!) огурцом и лечение простатита сидя на пеньке. На его официальном канале можно узреть многие другие методы лечения от разных болезней.

      %p
        #{link_to_video 'Дядя Петя', 'http://vkontakte.ru/video_ext.php?oid=143610757&id=160973856&hash=3b89e8e6eb4cd135&sd'} — персонаж фильма Сереженька. Этот у**ан дает детям фантики из под конфет и ржет как гиена!

      %p
        #{link_to_video 'Заткнись', 'http://www.youtube.com/embed/LBqOtloQEoo'} — лицо пацана, возникающее из ниоткуда со словом «ЗАТКНИСЬ», мгновенно останавливает действие. Появляется в пупе когда уровень безумия  уже превзошёл все мыслимые границы.

      %p
        #{link_to_video 'Иван Гамаз', 'http://vkontakte.ru/video_ext.php?oid=143610757&id=160973887&hash=8c94ac1ee1e7d59b&sd'} — Русский обзорщик видео игр. Выделяется излишним кретинизмом и наличием плавленного сырка вместо мозга.

      %p
        #{link_to_video 'Казино', 'http://vkontakte.ru/video_ext.php?oid=143610757&id=160973889&hash=f2a6d405d9dfd316&sd'} — Крайне озлобленный клиент казино который недоволен тем что "колоду чешет" не дилер, а кто-то другой.

      %p
        #{link_to_video 'Кандибобер', 'http://vkontakte.ru/video_ext.php?oid=143610757&id=160973891&hash=de3974d430e8fbb7&sd'} — Кошмар любого репортера! Эта женщина прошла афганскую войну. Тем более эта женщина, как она сама призналась, и не женщина вовсе.

      %p
        #{link_to_video 'Никита Литвинков', 'http://vkontakte.ru/video_ext.php?oid=143610757&id=160973893&hash=68e0855d08ae618a&sd'} — Рассказал про меню школьной столовки. Привлек пуперов своей забавной дикцией и забавными комментариями. Не гурман, любитель вкусного чая. Что еще...

      %p
        #{link_to_video 'Опасный Поцык', 'http://vkontakte.ru/video_ext.php?oid=143610757&id=160973911&hash=e438df7d6de4dad8&sd'} — главный герой всея RYTP, после которого всё и завертелось. Малолетний гопник, демонстрирующий владение трёхэтажным матом.

      %p
        #{link_to_video 'Титор', 'http://vkontakte.ru/video_ext.php?oid=143610757&id=160973916&hash=1bb9c1d24f394a58&sd'} — Он же “Дирижабль”.  Знаменит прекрасным владением ритма и профессиональной мимикой, хип-хоп певец. Учит детей.

      %p
        #{link_to_video 'Повар', 'http://vkontakte.ru/video_ext.php?oid=143610757&id=160973924&hash=7ac7b1d67ef331ad&sd'} — упоротый персонаж популярного видеонаркотика «Повар спрашивает повара».
        На первый взгляд, ролик может показаться какой-то неведомой фигнёй, однако уже при четвёром просмотре каждый зритель начинает дико ржать, как Повар.

      %p
        #{link_to_video 'Я ломал стекло', 'http://vkontakte.ru/video_ext.php?oid=143610757&id=160974238&hash=ba0efeba05d60e88&sd'} — полноватого вида женщина под градусом исполняет несколько песен, но ни одну не допевает до конца.

  .thanks_to
    Большое спасибо #{link_to 'Лёве Спиридонову', 'http://vkontakte.ru/megustafapfap', :target => :_blank} за наполнение этого раздела.

= content_for :bottom_javascript do
  = javascript_include_tag '/fancybox/jquery.fancybox-1.3.4.pack.js'

= content_for :stylesheets do
  = stylesheet_link_tag '/fancybox/jquery.fancybox-1.3.4.css'

= content_for :ad_block_1 do
  = render '/ad/before_footer'
