- if current_user
  %label.welcome= t(:'welcome')
  %ul.auth-links.welcome
    %li
      = link_to current_user, profile_path(current_user)
    %li
      = link_to t(:'sessions.destroy'), logout_path

-else
  %label.auth= t(:'sessions.new') + ':'
  %ul.auth-links.sign_in
    %li
      = link_to "Вконтакте", "/auth/vkontakte", :class => 'ir vkontakte', :title => 'Войти через ВКонтакте'
    %li
      = link_to "Twitter", "/auth/twitter", :class => 'ir twitter', :title => 'Войти через Twitter'
    %li
      = link_to "Facebook", "/auth/facebook", :class => 'ir facebook', :title => 'Войти через Facebook'
    %li.last
      = link_to "Google", "/auth/google", :class => 'ir google', :title => 'Войти через Google'
