%ul#menu
  %li
    = link_to t(:'menu.rytp'), root_path, :id => 'menu_rytp'
  %li
    = link_to t(:'menu.rytpmv'), rytpmv_path, :id => 'menu_rytpmv'
  %li
    = link_to t(:'menu.wiki'), wiki_path, :class => active?('wiki')
  %li
    = link_to t(:'menu.top'), top_path(:RYTP), :class => active?('top')
  %li
    = link_to t(:'menu.add'), add_poop_path, :class => active?('new', 'create')
  - if admin?
    %li
      = link_to t(:'menu.not_approved'), not_approved_path, :class => active?('not_approved')
