%ul#menu
  %li
    = link_to t(:'menu.rytp'), root_path, :id => 'menu_rytp'
  %li
    = link_to t(:'menu.rytpmv'), rytpmv_path, :id => 'menu_rytpmv'
  %li
    = link_to t(:'menu.feed'), poops_feed_path(:RYTP), :class => ['white', active?('poops')].join(' ')
  %li
    = link_to t(:'menu.wiki'), wiki_path, :class => ['white', 'where_am_i', active?('wiki')].join(' ')
  %li
    = link_to t(:'menu.top'), top_path(:RYTP), :class => ['white', active?('top')].join(' ')
  %li
    = link_to t(:'menu.add'), add_poop_path, :class => ['add_button', active?('new', 'create')].join(' ')
