%ul#menu
  %li
    = link_to t(:'menu.rytp'), root_path, :class => active?('index')
  %li
    = link_to t(:'menu.rytpmv'), rytpmv_path, :class => active?('rytpmv')
  %li
    = link_to t(:'menu.wiki'), wiki_path, :class => active?('wiki')
  %li
    = link_to t(:'menu.study'), study_path, :class => active?('study')
  %li
    = link_to t(:'menu.top'), top_path(:RYTP), :class => active?('top')
  %li
    = link_to t(:'menu.add'), add_poop_path, :class => active?('new', 'create')
  - if admin?
    %li
      = link_to t(:'menu.not_approved'), not_approved_path, :class => active?('not_approved')
