%html
  %head
    %title #{title}
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    = auto_discovery_link_tag(:rss, rss_feed_path+".rss")
    = stylesheet_link_tag :all, :cache => true
    = javascript_include_tag :all, :cache => true
    = csrf_meta_tag
    %script(type="text/javascript" src="http://userapi.com/js/api/openapi.js?17")
    %script(type="text/javascript")
      \VK.init({ apiId: 2021578, onlyWidgets: true });
  %body
    #header
      .content
        #logo
          = link_to image_tag('/images/logo.png', :title => 'pocyk'), root_path
        = render :partial => '/layouts/menu'
    #container
      %table.content
        %tr
          %td.left
            - if controller_name == 'poops' and action_name == 'show'
              #nav_left
                = link_to 'previous', previous_poop(@poop), :id => 'previous' if @poop.is_approved
          %td
            .content
              = yield
          %td.right
            - if controller_name == 'poops' and action_name == 'show'
              #nav_right
                = link_to 'next', next_poop(@poop), :id => 'next' if @poop.is_approved
                = link_to 'random', random_poop(@poop), :id => 'random'
    #footer
      .content
        #{yield :comments}
        #subfooter
          .logo #{link_to image_tag('/images/pocyk.jpg'), 'http://vkontakte.ru/club19331162', :target => '_blank'}
          .letsweb #{link_to image_tag('/images/letsweb.jpg'), 'http://letsweb.ru', :target => '_blank'}
          .text
            %p
              %b RYTP.ru
              является наилучшим источником RYTP и RYTPMV.
            %p Совместный сайт поцыков из группы вконтакте и letsweb.ru.
          .counter
            \<!--LiveInternet counter--><script type="text/javascript"><!--
            \document.write("<a href='http://www.liveinternet.ru/click' "+
            \"target=_blank><img src='//counter.yadro.ru/hit?t13.1;r"+
            \escape(document.referrer)+((typeof(screen)=="undefined")?"":
            \";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
            \screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
            \";"+Math.random()+
            \"' alt='' title='LiveInternet: показано число просмотров за 24"+
            \" часа, посетителей за 24 часа и за сегодня' "+
            \"border='0' width='88' height='31'><\/a>")//--></script><!--/LiveInternet-->
