%html
  %head
    %title #{title}
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    = auto_discovery_link_tag(:rss, rss_feed_path+".rss")
    = stylesheet_link_tag :all, :cache => true
    = javascript_include_tag :all, :cache => true
    = csrf_meta_tag
    %script(type="text/javascript" src="http://userapi.com/js/api/openapi.js?17")
    %script(type="text/javascript")
      \VK.init({ apiId: 2021578, onlyWidgets: true });
  %body
    #header
      .content
        #logo
          = link_to image_tag('/images/logo.png'), root_path
        = render :partial => '/layouts/menu'
    #container
      %table
        %tr
          %td.left
            - if controller_name == 'poops' and action_name == 'show'
              #nav_left
                = link_to 'previous', previous_poop(@poop.category.name, @poop.id), :id => 'previous' if @poop and @poop.is_approved
          %td
            .content
              = yield
          %td.right
            - if controller_name == 'poops' and action_name == 'show'
              #nav_right
                = link_to 'next', next_poop(@poop.category.name, @poop.id), :id => 'next' if @poop and @poop.is_approved
                = link_to 'random', random_poop(@poop.category.name), :id => 'random'
    #footer
      .content
        \<!--LiveInternet counter--><script type="text/javascript"><!--
        \document.write("<a href='http://www.liveinternet.ru/click' "+
        \"target=_blank><img src='//counter.yadro.ru/hit?t26.6;r"+
        \escape(document.referrer)+((typeof(screen)=="undefined")?"":
        \";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
        \screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
        \";"+Math.random()+
        \"' alt='' title='LiveInternet: показано число посетителей за"+
        \" сегодня' "+
        \"border='0' width='88' height='15'><\/a>")
        \//--></script><!--/LiveInternet-->
        #{yield :comments}
