!!! 5
-# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
-ie_html :class => 'no-js', :lang => 'en' do
  %head
    -# To render a different stylesheet partial inside the head (i.e. for admin layout)
    -# just copy _stylesheets.html.haml, and point to that partial instead.
    = render "layouts/head", :stylesheet_partial => "layouts/stylesheets"

    -# RSS feed
    = auto_discovery_link_tag(:rss, rss_feed_url+'.rss')

  %body{ :class => "#{controller.controller_name}" }
    #container
      = render "shared/admin_panel"
      = render "layouts/flashes"

      #main{ :role => 'main' }
        %header#header
          = render "layouts/header"
        = render "layouts/navigation"

        .container.triangle
          %div{:class => [:content, @feed_class] * ' '}
            .left
              = yield :left
              .fix &nbsp;
            .middle
              = yield
            .right
              = yield :right
              .fix &nbsp;

        %footer#footer
          = render "layouts/footer"

    -# Javascript at the bottom for fast page loading
    = render "layouts/javascripts"
