%html
  %head
    %title #{title}
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    = auto_discovery_link_tag(:rss, rss_feed_path+".rss")
    = stylesheet_link_tag :all
    = javascript_include_tag :all
    = csrf_meta_tag
    %script(type="text/javascript" src="http://userapi.com/js/api/openapi.js?17")
    %script(type="text/javascript")
      \VK.init({ apiId: 2021578, onlyWidgets: true });
  %body
    #header
      .content
        #logo
          = image_tag '/images/logo.png'
        = render :partial => '/layouts/menu'
    #container
      .content
        = yield
    #footer
      .content
        \<!--LiveInternet counter--><script type="text/javascript"><!--
        \document.write("<a href='http://www.liveinternet.ru/click' "+
        \"target=_blank><img src='//counter.yadro.ru/hit?t26.6;r"+
        \escape(document.referrer)+((typeof(screen)=="undefined")?"":
        \";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
        \screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
        \";"+Math.random()+
        \"' alt='' title='LiveInternet: показано число посетителей за"+
        \" сегодня' "+
        \"border='0' width='88' height='15'><\/a>")
        \//--></script><!--/LiveInternet-->
        #{yield :comments}
